In [2]:
import pandas as pd
import numpy as np

In [3]:
import wget

url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv"

file_path = "housing.csv"
wget.download(url, file_path)

data = pd.read_csv(file_path)

data.head()

 69% [...................................................                       ]  983040 / 1423529

100% [..........................................................................] 1423529 / 1423529

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

Question 1

In [4]:
pd.__version__

'1.3.4'

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [55]:
data.columns.values

array(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'], dtype=object)

In [6]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

Question 2

In [11]:
no_of_columns = data.shape[1]

Question 3

In [13]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

Question 4

In [14]:
len(data["ocean_proximityocean_proximity"].unique())

5

Question 5

In [17]:
data["ocean_proximity"].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [20]:
data1=data[data["ocean_proximity"]=='NEAR BAY']
data1["median_house_value"].mean()

259212.31179039303

Question 6

In [26]:
mean_total_beadrooms =data["total_bedrooms"].mean()

data2= data["total_bedrooms"].fillna(mean_total_beadrooms)
mean_total_beadrooms_after_fillna =data["total_bedrooms"].mean()
mean_total_beadrooms_after_fillna

537.8705525375618

In [27]:
mean_total_beadrooms

537.8705525375618

Question 7

In [58]:
data3= data[data["ocean_proximity"]=='ISLAND']
data3_a =data3[["housing_median_age","total_rooms","total_bedrooms"]]
data3_a

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [59]:
array=data3_a.values
X= array
X_transopse =X.T
XTX = np.dot(X, X_transopse)
XTX_inverse = np.linalg.inv(XTX)

y=np.array([950,1300,800,1000,1300])
y

array([ 950, 1300,  800, 1000, 1300])

In [62]:
w = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y)

last_element_of_w = w[-1]
print(last_element_of_w)

5.699229455065575